<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
 
<h:outputStylesheet library="css" name="index.css"/>
 
<h:head>
    <title>JSF 2.0 Greeting</title>
</h:head>
<h:body>
    <h3><h:outputText value="Register" /></h3>
    <h:form>
    	<h:outputLabel for="username">Username: </h:outputLabel>
    	
        <h:inputText id="username" styleClass="textbox" value="#{registrationBean.username}"></h:inputText>
        <h:outputLabel for="password">Password: </h:outputLabel>
        <h:inputText id="password" styleClass="textbox" value="#{registrationBean.password}"></h:inputText>
        <h:commandButton value="Register" action="#{registrationBean.register}"></h:commandButton>
    </h:form>
</h:body>
</html>
